body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.signup-form {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: 0; /* Adjusted margin */
}

.signup-form h2 {
    color: black;
}

.signup-form .subtext {
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: black;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.signup-form .password-info {
    color: gray;
    font-style: italic;
    font-size: 12px;
}

.signup-form button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #CFA2E8;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #A76DBF;
}

.instagram-signup {
    margin-top: 10px;
}

.instagram-button {
    background-color: transparent;
    border: 1px solid lightgray;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
}

.instagram-button i {
    margin-right: 10px;
}

.login-text {
    color: gray;
}

.purple-text {
    color: #CFA2E8;
}

.image-container {
    width: 50%;
    margin: 0; /* Adjusted margin */
    max-width: 350px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}
