body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "nav"
        "secondary-nav"
        "section"
        "main"
        "footer";
}

nav {
    background-color: white;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%; /* Para ocupar todo el ancho de la página */
}

.logo-menu {
    margin-left: 20px;
}

.logo-menu img {
    width: 100px;
}

.secondary-nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.secondary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secondary-nav li {
    margin-left: 20px;
}

.secondary-nav li:first-child {
    margin-left: auto;
}

.round-image-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CA3E47;
    border: none;
}

.purple-small-button {
    background-color: #CFA2E8;
    color: white;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.purple-small-button:nth-of-type(3) {
    background-color: hwb(293 0% 0% / 0.651);
    color: black;
    border-radius: 20px;
    padding:10px 20 px;
}

.login-form {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.login-form h2 {
    color: black; /* Letra negra */
}

.login-form .subtext {
    color: gray; /* Color gris */
    font-size: 14px; /* Tamaño de letra más pequeño */
    margin-bottom: 20px; /* Espacio inferior */
}

.gray-text {
    color: gray; /* Color gris */
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.instagram-signin {
    margin-top: 20px;
}

.instagram-button {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid lightgray; /* Borde gris claro */
    color: black; /* Letra negra */
    border-radius: 20px; /* Borde ovalado */
    padding: 10px 20px; /* Padding */
}

.instagram-button i {
    margin-right: 10px;
}

.instagram-button:hover {
    background-color: lightgray; /* Fondo gris claro al pasar el ratón */
    color: black; /* Letra negra */
}

footer {
    background-color: white;
    color: #fcfcfc;
    text-align: center;
    padding: 10px;
}

.yellow {
    background-color: #FFD700; /* Amarillo */
    color: black; /* Cambiamos el color del texto a negro para mayor contraste */
}
